# Data Science Tools and Ecosystem

## Author: Robert Goldman

Objectives:
1. Popular libraries
2. Popular Languages
3. Basic math in python

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the popular libraries that Data Scientists use are:
1. matplotlib
2. sklearn
3. pandas

Data Science Tools |
-----|
SQL|
Apache Spark|
Kylo |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
minutes=200;
hours = minutes/60
hours

3.3333333333333335